<section class="author">
  <img class="author__img" src="https://pbs.twimg.com/profile_images/1228380016888688640/kvO742cE_400x400.jpg" alt="" />
  <h3 class="author__title">
    María José
  </h3>
  <article class="author__description">
    Positivismo como filosofía de vida. Filología Hispánica. Betis,literatura y música. Adalaber in process 👩🏻‍💻. #PromociónIdelisa.
  </article>
</section>
<nav class="menu__list">
  <ul>
    <li>Música</li>
    <li>Libros</li>
    <li>Fútbol</li>
    <li>Notas de prensa</li>
    <li>Articulos relacionados</li>
  </ul>
  >
  <ul>
    <li>Deporte</li>
    <li>Musica</li>
    <li>Teatro</li>
    <li>Monólogos</li>
    <li>Viajes</li>
  </ul>
</nav>
