<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Festivales</title>
    <link href="https://fonts.googleapis.com/css?family=Lilita+One&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="./assets/css/main.css" />
  </head>
  <body>
    <div class="container__page">
      <div class="primary__section">
        <partial src="_header.html"></partial>
        <main class="main">
          <partial src="_primarysection.html" name="Sonorama-Ribiera" description="El Festival Sonorama (desde 2008 Sonorama-Ribera) es un festival de música que se celebra en la localidad burgalesa de Aranda de Duero desde 1998. Está organizado por la asociación cultural, y sin ánimo de lucro, Art de Troya, a mediados de agosto de cada año, con el que intenta dar a conocer las nuevas tendencias culturales en todos los ámbitos. En sus propias palabra"></partial>

          <partial src="_primarysection.html" name="Viñarock" description="Ubicado en Villarrobledo, Viña Rock es uno de los festivales de rock más grandes de España. A principios de mayo, se espera escuchar una gran variedad de música de rock, hip-hop y mestizaje. La alineación para Vina Rock 2020 incluye: Dead Lendakaris, Boikot, Descakato, The Kanka, The Drugs y más"></partial>

          <partial src="_primarysection.html" name="Granada Sound" description=" Granada es el último bastión del indie. Nadie como nosotros sabe apreciar la importancia de este género, y nadie más te puede ofrecer una cita como esta. Por eso nos vestimos de arte, de nostalgia y de puro sentimiento en blanco y negro, para celebrar que seguimos aquí, un año más, para despedir el verano y reencontrarnos con la música"></partial>
        </main>
      </div>
      <aside class="secundary__section">
        <partial src="_secundarysection.html"></partial>
      </aside>
    </div>
    <partial src="_footer.html"></partial>
  </body>
</html>
